/*styling optimized for mobile 320 px*/

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }


h1, h2, h3 {
    text-align: center;
}

nav {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
}

ul.nav {
    list-style: none;
    display: none;
}

nav, footer {
    padding: 1% 0;
    background-color: #aaa;
    text-align: center;
}

.fa-bars {
    float: right;
    display: inline;
    margin-right: 10px;
}

header {
    padding: 25px;
}

main {
    max-width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

section.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.languages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section {
    padding: 5px;
    background-color: #bbb;
}

p {
    padding: 5px;
    line-height: 1.5;
}
  
section:nth-child(even) {
    background-color: #ddd;
}

img.social, img.icon {
    padding: 5px;
}

footer {
    margin-bottom: 10px;
}