/*styling optimized for mobile 320 px*/

* {
    box-sizing: border-box;
  }

h1 {
    font-family: 'Eczar', serif;
    text-align: center;
    text-emphasis: none;
    color:#000000;
    
}

h2, h3 {
    text-align: center;
    font-family: 'Eczar', serif;
}

ul {
    list-style: none;
}

p {
    font-family: 'Open Sans', sans-serif;
}

a:link {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    color: #A66000;
}

.fa-html5 {
    color: #E44F26;
}

.fa-css3-alt {
    color: #0C3FB8;
}

.fa-js-square {
    color: #000000;
}

.fa-linkedin, .fa-github-square, .fa-envelope-square {
    color: #E68500;
}


@media screen and (max-width: 450px) {
    body {
        background-image: url("images/headerbg.png");
        background-repeat: no-repeat;
        background-color: #033859;
    }
    nav {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
    }
    ul.nav {
        display: none;
    }
    nav {
        padding: 1% 0;
        background-color: #032940;
        text-align: center;
    }
    .fa-bars {
        float: right;
        display: inline;
        margin-right: 10px;
        color: #FFFFFF;
    }
    header {
        padding: 25px;
    }
    p.headline {
        display: none;
    }
    footer {
        padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 10px;
    }
    main {
        max-width: 95%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    section.projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section.languages {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    p {
        padding: 5px;
        line-height: 1.5;
    }
    .projectLinks {
        padding: 10px;
    }
    section {
        padding: 5px;
        background-color: #bbbbbb;
    }
    section:nth-child(even) {
        background-color: #ddd;
    }

    img.screenshot {
        display: none;
    }
    img.small-screenshot {
        max-width: 90%;
        border-style: solid;
        border-color: #E68500;
        border-width: 3px;
    }
    img.social, img.icon {
        padding: 5px;
    }
    
}